.margin-bottom-80px {
  margin-bottom: 8rem;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btnTopUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes secondaryTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #777777;
  letter-spacing: 0.2rem;
  overflow-x: hidden;
  background-color: #f8f4f4;
}

.header {
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0%, rgba(1, 1, 1, 0.7) 100%), url(../img//header-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  height: 75rem;
}
.header__logo {
  width: 5.6rem;
  height: 7rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.header__container {
  padding: 0 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 117rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.title-first {
  color: #fff;
}
.title-first__main {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation: leftToRight 1s ease;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-size: 4rem;
  font-weight: 100;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation: rightToLeft 1s ease;
  backface-visibility: hidden;
  margin-bottom: 5rem;
}

.btn {
  display: inline-block;
  background-color: white;
  padding: 1.5rem 4rem;
  color: #777777;
  border-radius: 5rem;
  transition: transform 250ms;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  position: relative;
  z-index: 1;
  border-color: transparent;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  transform: translateY(0.3rem);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.btn:hover::after, .btn:focus::after {
  opacity: 0;
  transform: scale(1.3, 1.4);
}
.btn::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 500ms, opacity 500ms;
}
.btn__header {
  animation: btnTopUp 1s ease 700ms;
  animation-fill-mode: backwards;
}

.section-about {
  padding-top: 8rem;
  padding-bottom: 5.4rem;
}

.section-adventure {
  padding: 21.6rem 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0%, rgba(1, 1, 1, 0.7) 100%), url(../img/adventure-background.jpg);
  clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 83%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
}

.section-tour {
  padding: 8rem 0 8.5rem 0;
}

.title-secondary {
  font-size: 3.6rem;
  letter-spacing: 1rem;
  font-weight: 800;
  background: linear-gradient(90deg, #c3956a 3.65%, #a14f03 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  animation: secondaryTitle 1s ease;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}

.col-1-of-3 {
  width: calc((100% - 12rem) / 3);
}

.row {
  max-width: 117rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^=col-] {
  float: left;
  list-style: none;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.title-tird {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 140%;
}

.btn-text {
  padding: 1.5rem 4rem;
  transition: all 250ms;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border-color: transparent;
  color: #ba8554;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid #ba8554;
  padding: 1rem 0.8rem;
}
.btn-text:hover, .btn-text:focus {
  background-color: #ba8554;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.3rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  border-radius: 0.5rem;
  position: absolute;
}
.composition__photo_n1 {
  top: 0;
  left: 0rem;
}
.composition__photo_n2 {
  top: 2rem;
  right: 0rem;
}
.composition__photo_n3 {
  top: 13rem;
  left: 10rem;
}

.adventure-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 2.4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.adventure-card__icon {
  width: 6rem;
  height: 6rem;
  fill: #ba8554;
  margin-bottom: 2.5rem;
}

.card-tour {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.card-tour__side {
  height: 50rem;
  color: black;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: 700ms all;
}
.card-tour__side_front {
  background: #FFF;
  border-radius: 3px;
}
.card-tour__side_back {
  transform: rotateY(180deg);
  border-radius: 3px;
  background: linear-gradient(135deg, #c3956a 3.65%, #a14f03 100%);
  box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}/*# sourceMappingURL=main.css.map */