$color-gray: #777777;
$color-background: #f8f4f4;
$color-white: white;
$brown-color-light: #ba8554;
$brown-color-dark: #a14f03;
$color-black: black;
$gradient-brown-black: rgba(186, 133, 84, 0.7) 0%, rgba(1, 1, 1, 0.7) 100%;
$gradient-brown-light-brown-darck: #c3956a 3.65%, #a14f03 100%;
$shadow-button: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

